
src/Germadent.Rma.App/.vs/Germadent.Rma.App/v16/.suo
src/_ReSharper.Caches/ReSharperPlatformVs16191_45414a2b.Germadent.00/~Mutex
*.sst
*.log
*.dat
*.bin
src/_ReSharper.Caches/ReSharperPlatformVs16191_45414a2b.Germadent.00/WebSymbols/.version
src/_ReSharper.Caches/ReSharperPlatformVs16191_45414a2b.Germadent.00/WebSymbols/.crc
src/_ReSharper.Caches/ReSharperPlatformVs16191_45414a2b.Germadent.00/TagPrefixes/.version
src/_ReSharper.Caches/ReSharperPlatformVs16191_45414a2b.Germadent.00/TagPrefixes/.crc
src/_ReSharper.Caches/ReSharperPlatformVs16191_45414a2b.Germadent.00/MVC/.version
src/_ReSharper.Caches/ReSharperPlatformVs16191_45414a2b.Germadent.00/MVC/.crc
src/_ReSharper.Caches/ReSharperPlatformVs16191_45414a2b.Germadent.00/JSTest/.version
src/_ReSharper.Caches/ReSharperPlatformVs16191_45414a2b.Germadent.00/JSTest/.crc
src/_ReSharper.Caches/ReSharperPlatformVs16191_45414a2b.Germadent.00/FileDependencies/.version
src/_ReSharper.Caches/ReSharperPlatformVs16191_45414a2b.Germadent.00/FileDependencies/.crc
src/_ReSharper.Caches/ReSharperPlatformVs16191_45414a2b.Germadent.00/Db/MANIFEST-000002
src/_ReSharper.Caches/ReSharperPlatformVs16191_45414a2b.Germadent.00/Db/LOG
src/_ReSharper.Caches/ReSharperPlatformVs16191_45414a2b.Germadent.00/Db/LOCK
src/_ReSharper.Caches/ReSharperPlatformVs16191_45414a2b.Germadent.00/Db/CURRENT
src/_ReSharper.Caches/ReSharperPlatformVs16191_45414a2b.Germadent.00/BuildScriptCache/.version
src/_ReSharper.Caches/ReSharperPlatformVs16191_45414a2b.Germadent.00/BuildScriptCache/.crc
src/.vs/Germadent/v16/Server/sqlite3/storage.ide-wal
src/.vs/Germadent/v16/Server/sqlite3/storage.ide-shm
src/.vs/Germadent/v16/Server/sqlite3/storage.ide
src/.vs/Germadent/v16/Server/sqlite3/db.lock
src/.vs/Germadent/v16/.suo
*.cache
*.pdb
src/Germadent.Rma.App/.vs/
src/Germadent.Rma.App/Germadent.Rma.App/bin/Debug/Germadent.Rma.App.exe.config
src/Germadent.Rma.App/Germadent.Rma.App/obj/Debug/App.g.cs
src/Germadent.Rma.App/Germadent.Rma.App/obj/Debug/App.g.i.cs
src/Germadent.Rma.App/Germadent.Rma.App/obj/
src/Germadent.Rma.App/Germadent.Rma.App/bin/
src/_ReSharper.Caches/
src/Germadent.Common/bin/
src/Germadent.Common/obj/
src/Germadent.UI/bin/
src/Germadent.UI/obj/
src/packages/
src/Germadent.ServiceClient/bin/
src/Germadent.ServiceClient/obj/
src/Germadent.Rma.Model/bin/
src/Germadent.Rma.Model/obj/

src/Germadent.DataAccessService/bin/
src/Germadent.DataAccessService/obj/
db/Germadent/.vs/
