
src/Germadent.Rma.App/.vs/Germadent.Rma.App/v16/.suo
src/_ReSharper.Caches/ReSharperPlatformVs16191_45414a2b.Germadent.00/~Mutex
*.sst
*.log
*.dat
*.bin
src/_ReSharper.Caches/ReSharperPlatformVs16191_45414a2b.Germadent.00/WebSymbols/.version
src/_ReSharper.Caches/ReSharperPlatformVs16191_45414a2b.Germadent.00/WebSymbols/.crc
src/_ReSharper.Caches/ReSharperPlatformVs16191_45414a2b.Germadent.00/TagPrefixes/.version
src/_ReSharper.Caches/ReSharperPlatformVs16191_45414a2b.Germadent.00/TagPrefixes/.crc
src/_ReSharper.Caches/ReSharperPlatformVs16191_45414a2b.Germadent.00/MVC/.version
src/_ReSharper.Caches/ReSharperPlatformVs16191_45414a2b.Germadent.00/MVC/.crc
src/_ReSharper.Caches/ReSharperPlatformVs16191_45414a2b.Germadent.00/JSTest/.version
src/_ReSharper.Caches/ReSharperPlatformVs16191_45414a2b.Germadent.00/JSTest/.crc
src/_ReSharper.Caches/ReSharperPlatformVs16191_45414a2b.Germadent.00/FileDependencies/.version
src/_ReSharper.Caches/ReSharperPlatformVs16191_45414a2b.Germadent.00/FileDependencies/.crc
src/_ReSharper.Caches/ReSharperPlatformVs16191_45414a2b.Germadent.00/Db/MANIFEST-000002
src/_ReSharper.Caches/ReSharperPlatformVs16191_45414a2b.Germadent.00/Db/LOG
src/_ReSharper.Caches/ReSharperPlatformVs16191_45414a2b.Germadent.00/Db/LOCK
src/_ReSharper.Caches/ReSharperPlatformVs16191_45414a2b.Germadent.00/Db/CURRENT
src/_ReSharper.Caches/ReSharperPlatformVs16191_45414a2b.Germadent.00/BuildScriptCache/.version
src/_ReSharper.Caches/ReSharperPlatformVs16191_45414a2b.Germadent.00/BuildScriptCache/.crc
src/.vs/Germadent/v16/Server/sqlite3/storage.ide-wal
src/.vs/Germadent/v16/Server/sqlite3/storage.ide-shm
src/.vs/Germadent/v16/Server/sqlite3/storage.ide
src/.vs/Germadent/v16/Server/sqlite3/db.lock
src/.vs/Germadent/v16/.suo
*.cache
*.pdb
src/Germadent.Rma.App/.vs/
src/Germadent.Rma.App/Germadent.Rma.App/bin/Debug/Germadent.Rma.App.exe.config
src/Germadent.Rma.App/Germadent.Rma.App/obj/Debug/App.g.cs
src/Germadent.Rma.App/Germadent.Rma.App/obj/Debug/App.g.i.cs
src/Germadent.Rma.App/Germadent.Rma.App/obj/
src/Germadent.Rma.App/Germadent.Rma.App/bin/
src/_ReSharper.Caches/
src/Germadent.Common/bin/
src/Germadent.Common/obj/
src/Germadent.UI/bin/
src/Germadent.UI/obj/
src/packages/
src/Germadent.ServiceClient/bin/
src/Germadent.ServiceClient/obj/
src/Germadent.Rma.Model/bin/
src/Germadent.Rma.Model/obj/

src/Germadent.DataAccessService/bin/
src/Germadent.DataAccessService/obj/
db/Germadent/.vs/
db/Germadent/Germadent.DB/obj/
db/Germadent/Germadent.DB/bin/
src/Germadent.Rma.Model.Test/obj/
src/Germadent.Rma.Model.Test/bin/
src/.vs/
src/.idea/.idea.Germadent/.idea/
src/.idea/
src/Germadent.sln.DotSettings
src/Germadent.Rma.App.Test/obj/
src/Germadent.Rma.App.Test/bin/
src/Germadent.UserManagementCenter.App/obj/
src/Germadent.UserManagementCenter.Model/bin/
src/Germadent.UserManagementCenter.Model/obj/
src/Germadent.UserManagementCenter.App/bin/
src/Germadent.UserManagementCenter.App.Test/obj/
src/Germadent.UserManagementCenter.App.Test/bin/
src/Germadent.TestUtils/bin/
src/Germadent.TestUtils/obj/
src/Germadent.DataAccessServiceCore/bin/
src/Germadent.DataAccessServiceCore/obj/
src/Germadent.Rma.ModelCore/obj/
src/Germadent.Rma.ModelCore/bin/
src/Germadent.WebApi/bin/
src/Germadent.WebApi/obj/
db/Germadent/Germadent.DB/Germadent.DB.dbmdl
src/Germadent.DataGenerator.App/bin/
src/Germadent.DataGenerator.App/obj/
src/Utils/Corcon/Corcon/bin/
src/Utils/Corcon/Corcon/obj/
src/Utils/Corcon/.vs/
