<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System.Configuration.ConfigurationManager, Version=4.0.3.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51" >
      <section name="Germadent.Rma.App.Properties.Settings" type="System.Configuration.ClientSettingsSection, System.Configuration.ConfigurationManager, Version=4.0.3.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>

  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target xsi:type="File" name="file" fileName="${basedir}/logs/${shortdate}.log" layout="${longdate} | ${uppercase:${level}} | ${logger} | ${message}"/>
    </targets>

    <rules>
      <logger name="*" minlevel="Trace" writeTo="file"/>
    </rules>
  </nlog>

  <appSettings>

    <!-- Адрес сервиса для работы с данными -->
    <add key="DataServiceUrl" value="http://localhost:5005"/>

    <!--Режим работы (Mock - тестовые данные, Server - сервер )-->
    <add key="WorkMode" value="Server"/>
  </appSettings>
  <userSettings>
    <Germadent.Rma.App.Properties.Settings>
      <setting name="LastLogin" serializeAs="String">
        <value />
      </setting>
    </Germadent.Rma.App.Properties.Settings>
  </userSettings>
</configuration>
