<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
  </startup>
  <appSettings>

    <!-- Адрес сервиса для работы с данными -->
    <add key="DataServiceUrl" value="http://89.189.186.48:4444" />

    <!--Режим работы (Mock - тестовые данные, Server - сервер )-->
    <add key="WorkMode" value="Mock" />
  </appSettings>
</configuration>
