<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
  <appSettings>
    <!-- Адрес сервиса для работы с данными -->
    <add key="Url" value="http://localhost" />

    <!--Порт-->
    <add key="Port" value="4444" />

    <!--Строка подключения к БД-->
    <add key="ConnectionString" value="Data Source=89.189.186.48;Initial Catalog=Germadent;Integrated Security=False;Connect Timeout=60;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False;User Id=sa; Password=asza" />
  </appSettings>
</configuration>